:root {
    --text-color: #545454;
}

.navbar{
    height: 5rem;
    background-color: #5F9FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_logo{
    margin-left: 2.5rem;
}

.navbar_logo_text{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}
.link{
    text-decoration: none;
}

@media screen and (max-width: 650px){
    .navbar{
        height: 3.5rem;
    }
    
    .navbar_logo{
        margin-left: 1.6rem;;
    }
    
    .navbar_logo_text{
        font-size: 1rem;
    }

    .navbar_user_img{
        height: 2rem;
        width: 2rem;
        margin-right: 1.6rem;
    }
}
